.sidebar {
  height: 100%;
  overflow-y: auto;
}

.messages-list {
  padding: 0;
  list-style: none;
}

.messages-list li {
  padding: 15px;
  cursor: pointer;
}

.messages-list li:hover {
  background-color: var(--background-secondary, #f0f0f0);
}

.chat-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--background-thirdary, #000000);
}

.sub-chat {
  color: var(--text-primary, #e9edef);
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
}

.message-bubble {
  padding: 10px;
  border-radius: 12px;
}

.bg-dark {
  background-color: var(--background-secondary, #000000);
}

.bg-primary {
  background-color: #007bff;
}

.chat-input {
  position: sticky;
  bottom: 0;
}

.chat-page {
  background-color: var(--background-primary, #000000);
  height: 90%;
}

.sidebar-wrapper {
  background-color: var(--background-thirdary, #000000);
  border-right: 1px solid var(--text-primary, #ffffff);
}
