.profile-nav__container {
  border-top: 1px solid var(--text-primary, #ffffff);
  padding-top: 10px;
  border-bottom: 1px solid var(--text-primary, #ffffff);
}

.profile-nav__tabs {
  border-bottom: none;
}

.profile-nav__item {
  margin: 0 15px;
  color: var(--text-primary, #ffffff);
}

.profile-nav__link {
  color: var(--text-primary, #ffffff);
  font-size: 16px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.profile-nav__link:hover {
  color: #007bff;
}

.profile-nav__link--active {
  color: var(--text-primary, #ffffff);
  border-radius: 10px 10px 0px 0px;
  background-color: var(--background-secondary, #000000);
  padding: 10px 15px;
  border-bottom: 5px solid #0768e7;
}
