.header {
  background-color: var(--header-background, #000000);
  border-bottom: 1px solid var(--text-primary, #000);
}

.header-component {
  border-bottom: 1px solid var(--header-border-color, #ddd);
  background-color: var(--header-background, #000000);
  color: var(--header-text-color, #fff);
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.header-component .header-title,
.header-component .user-fullname,
.header-component .guest-text {
  color: var(--header-text-color, #fff);
  transition: color 0.3s ease;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--avatar-border-color, #fff);
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.dropdown-menu-container {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--dropdown-background, rgb(0, 0, 0));
  color: var(--dropdown-text-color, #fff);
  border: 1px solid var(--dropdown-border-color, #ccc);
  min-width: 150px;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.dropdown-menu-container.show {
  display: block;
}

.dropdown-menu-container button {
  border: none;
  background: none;
  padding: 10px 15px;
  width: 100%;
  text-align: left;
  color: var(--dropdown-text-color, #fff);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu-container button:hover {
  background-color: var(--dropdown-item-hover-background, #ababab);
}
