.introduce-container {
  background-color: var(--background-secondary, #000000);
  color: var(--text-primary, #ffffff);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px var(--background-secondary, #000000);
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--text-primary, #ffffff);
  padding-bottom: 10px;
}

.introduce-section {
  margin-bottom: 20px;
  padding: 15px;

  border: 1px solid var(--text-primary, #ffffff);
  border-radius: 5px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.info-item p {
  margin: 0;
}

.edit-icon,
.lock-icon {
  margin-left: 10px;
  color: var(--background-secondary, #000000);
  cursor: pointer;
}

.lock-icon {
  color: var(--text-secondary, #bbb);
}

.introduce-section h2 {
  font-weight: bold;
}

.introduce-section strong {
  font-weight: bold;
}
